@using Makale_BLL;
@using Makale_Entities; 
@using MakaleWEB_MVC.Models;

    @{ 
        //KategoriYönet ky = new KategoriYönet();
        //List<Kategori>liste=ky.Listele();
        List<Kategori> liste = CacheHelper.KategoriCache();
    }

<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="/Home/Index" class="list-group-item"><span class="glyphicon glyphicon-chevron-right"></span>Tümü</a>
    @foreach (var item in liste)
    {
        <a href="/Home/Kategori/@item.Id" class="list-group-item "><span class="glyphicon glyphicon-chevron-right"></span>@item.Baslik</a>

    }

</div>
