<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">

            <div class="col-lg-4 text-center">
                <h5 style="color:brown; font-family: 'Comic Sans MS'"><b><i>Site Haritası</i></b></h5>
                <hr />
                <a href="/Home/EnBegenilenler"><span class="glyphicon glyphicon-heart" style="padding:4px"></span> En Beğenilenler</a>
                <br />
                <a href="/Home/SonYazilanlar"><span class="glyphicon glyphicon-list"></span>  Son Yazılanlar</a>

            </div>

            <div class="col-lg-4 text-center ">
                <p>Tüm Hakları Saklıdır &copy; MakaleWeb @DateTime.Now.Year</p>
            </div>

            <div class="col-lg-4 text-center ">

                <h5 style="color: brown ; font-family: 'Comic Sans MS'"><b><i>E-Bülten Üyeliği</i></b></h5>
                <hr />
                <div class="col-md-12">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="E-Posta Adresiniz...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Gönder</button>
                        </span>
                    </div>

                </div>

            </div>

        </div>

    </footer>

</div>
