@using Makale_BLL
@using Makale_Entities
@model List<Kategori>    //partial page model eklemeliyim*@


<p class="lead">Kategoriler</p>
<div class="list-group">
    <a href="#" class="list-group-item">Category 1</a>
    <a href="#" class="list-group-item">Category 2</a>
    <a href="#" class="list-group-item">Category 3</a>
</div>
