

<div class="media">
    <div class="media-left media-middle">
        
            <div class="media-object">
                <span class="glyphicon glyphicon-comment" ></span> 

        </div>
        
    </div>
    <div class="media-body">
        <div>
            <span class="col-md-10">
            Sapien nmscndjkscnkdsncdnc mdcnsmncmsd sncsncksn cdnsdnsdj dbjdsbjdbc bdjsnfce
            </span>
            <span class="col-md-2">
                <button type="button" class="btn btn-warning btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

            </span>
            <small class="col-md-12">
                <span class="glyphicon glyphicon-user"></span> Kullanıcı Adı
                <span class="glyphicon glyphicon-time"></span> Zaman
            </small>
        </div>
        
    </div>
</div>
 
           

