
@{
    ViewBag.Title = "HesapAktiflestir";
}

<link href="~/Content/login.css" rel="stylesheet" />

<section class="login-info">

    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz...</h1>
            </div>
            <div class="main-content">

                <div class="text-danger">

                    <h2><span class="glyphicon glyphicon-rem"> </span>Aktifleştirildi...</h2>

                    <p class="text-justify text-info">
                        Hesabınız aktifleştirildi artık makale ve yorum yazabilirsiniz,beğeni yapabilirsiniz.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<script>

    //footer gizlensin parent eklemzssem sadece footer gizlenir ama hr yide gizlemek istersem parent koymalıyım.
    $(function () {
        $("footer").parent().hide();
    });
    //sayfa görüntülendikten sonra o locasyona götürsün
    setTimeout(function () {
        window.location="/Home/Index"
    }, 3000);

</script>

